<div class="panel panel-default" ng-init="getDestinations()">
  <div class="panel-heading">
    <h3 class="panel-title">Latest Destinations</h3>
  </div>
  <div class="panel-body">
    <div class="row">
    	<div ng-repeat="destination in destinations">
    		<div class="col-md-6">
    			<div class="col-md-6">
    				<h4>{{destination.title}}</h4>
    				<p>{{destination.description}}</p>
    				<a class="btn btn-primary" href="#/destinations/details/{{destination._id}}">View Details</a>
    			</div>
    			<div class="col-md-6">
    				<img class="thumbnail" src="{{destination.image_url}}">
    			</div>
    		</div>
    	</div>
    </div>
  </div>
</div>